<app-spinner *ngIf="isLoading" [loading]="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="w-full md:w-full lg:w-full mx:w-full md:mx-24 p-24">
  <div class="bg-white p-10 flex flex-col w-full shadow-xl rounded-xl">
    <h2 class="text-2xl font-bold text-gray-800 text-left mb-2">
      Đăng nhập
    </h2>
    <form *ngIf="formForGot"
          [formGroup]="formForGot"
          (ngSubmit)="onSubmit()"
          method="POST"
          class="w-full">
      <div class="flex flex-col w-full my-5">
        <label for="email" class="text-gray-500 mb-2">
          Tài khoản
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Nhập email"
          class="appearance-none border-2 border-gray-100 rounded-lg px-4 py-3
          placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg"
        />
      </div>
      <div class="flex flex-col w-full my-5">
        <button
          type="submit"
          class="w-full py-4 bg-blue-500 rounded-lg text-white"
        >
          <div class="flex flex-row items-center justify-center">
            <div class="mr-2">
              <svg-icon [size]="24" name="icon-login"></svg-icon>
            </div>
            <div class="font-bold">Đặt lại mật khẩu</div>
          </div>
        </button>
        <a href="auth/sign-in" class="text-sm text-blue-500 text-center mt-4">Quay lại đăng nhập</a>
      </div>
    </form>
  </div>
</div>
