<!-- component -->
<body class="antialiased bg-gradient-to-br from-blue-50 to-white">
<div class="container px-2 mx-auto">
  <div class="flex flex-col md:text-left md:flex-row h-screen justify-evenly md:items-center">
    <div class="mt-4 md:mt-0">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">
        Chào mừng đến với Movies Ticket Booking
      </h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg">
        Nơi bạn có thể trải nghiệm sự tiện lợi và hứng thú khi đặt vé xem phim trực tuyến.
      </p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
</body>
