<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<section class="relative  bg-blueGray-50">
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('https://images.thedirect.com/media/article_full/disney-movies-titles.jpg');
          ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-pacifico text-5xl">
              Movies Ticket Booking
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Chào mừng đến với Movies Ticket Booking,
              nơi bạn có thể trải nghiệm sự tiện lợi và
              hứng thú khi đặt vé xem phim trực tuyến.
            </p>
          </div>
        </div>
        <div class="w-full flex justify-center mt-8">
          <button class="group relative h-12 w-48 overflow-hidden rounded-2xl bg-blend-soft-light text-lg font-bold text-white">
            Trải nghiệm ngay!
            <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class=" bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">

              </div>
              <h6 class="text-xl font-semibold">Hệ thống đặt vé tự động</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Với hệ thống đặt vé tự động và nhiều phương thức thanh toán linh hoạt,
                bạn có thể dễ dàng lựa chọn bộ phim yêu thích và đặt vé một cách thuận tiện từ nhà.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">

              </div>
              <h6 class="text-xl font-semibold">Danh sách đa dạng</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Chúng tôi cung cấp một danh sách đa dạng các bộ phim từ hành động,
                kinh dị, hài hước đến phim gia đình và anime, đảm bảo rằng mọi người
                đều có thể tìm thấy điều gì đó phù hợp với sở thích của mình.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">

              </div>
              <h6 class="text-xl font-semibold">Giao diện thân thiện</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Với một giao diện thân thiện và đơn giản, Movies Ticket Booking
                mang đến cho bạn trải nghiệm mua vé trực tuyến dễ dàng và nhanh chóng.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
