@import "ng-zorro-antd/ng-zorro-antd.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.round-crop {
  width: 200px; /* Chiều rộng của hình tròn */
  height: 180px; /* Chiều cao của hình tròn */
  overflow: hidden; /* Ẩn các phần tử vượt ra ngoài phạm vi */
  border-radius: 50%; /* Đặt border-radius là 50% để tạo hình tròn */
}

.round-crop img {
  width: 100%; /* Đảm bảo ảnh rộng bằng container */
  height: auto; /* Đảm bảo tỷ lệ khung hình được giữ nguyên */
  object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng và đủ rộng và cao để phù hợp với vùng cắt */
}
