<!-- component -->
<div class="h-[50px] w-full fixed top-0 z-50">
  <!-- Code block starts -->
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <nav role="navigation" class="bg-white shadow xl:block hidden">
    <div class="mx-auto container px-6 py-2 xl:py-0">
      <div class="flex items-center justify-between">
        <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 rounded-md flex w-full sm:w-auto items-center sm:items-stretch justify-end sm:justify-start">
          <div class="flex items-center">
            <h2 class="hidden sm:block text-base text-gray-700 font-bold leading-normal px-3" routerLink="/home-page">Movie Ticket Booking</h2>
          </div>
        </button>
        <div class="flex">
          <div class="hidden xl:flex md:mr-6 xl:mr-16">
            <a href="javascript: void(0)" class="focus:text-indigo-700 border-b-2 border-transparent focus:border-indigo-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out">
              Lịch chiếu
            </a>
            <a href="javascript: void(0)" class="focus:text-indigo-700 border-b-2 border-transparent focus:border-indigo-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out">
              Rạp chiếu
            </a>
            <a href="javascript: void(0)" class="focus:text-indigo-700 border-b-2 border-transparent focus:border-indigo-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out">
              Phim chiếu
            </a>
            <a href="javascript: void(0)" class="focus:text-indigo-700 border-b-2 border-transparent focus:border-indigo-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out">
              Review phim
            </a>
          </div>
          <div *ngIf="isLogin" class="hidden xl:flex items-center">
            <div class="ml-6 relative" (click)="toggleDropdown()">
              <button aria-label="dropdown" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="focus:outline-none border-b-2 border-transparent focus:border-indigo-700 py-3  focus:text-indigo-700 text-gray-600 hover:text-indigo-700 flex items-center relative">
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li *ngIf="isAdmin" nz-menu-item routerLink="/dashboard">Dashboard</li>
                    <li nz-menu-item routerLink="/profile">Thông tin cá nhân</li>
                    <li nz-menu-item routerLink="/list-ticket-booking">Lịch sử đặt vé</li>
                    <li nz-menu-item routerLink="/change-password">Thay đổi mật khẩu</li>
                    <li nz-menu-item (click)="handleLogout()">Đăng xuất</li>
                  </ul>
                </nz-dropdown-menu>
                <div class="cursor-pointer flex items-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
                  <img src="{{imageUrl}}" class="round-crop mr-3" alt="Medusa">
                  <a class="text-sm font-semi text-gray ml-4">{{ username }}</a>
                </div>
                <div class="ml-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div *ngIf="!isLogin" class="xl:flex items-center">
            <button nz-button nzType="default" routerLink="/auth/sign-in">Đăng nhập</button>
          </div>

        </div>
      </div>
    </div>
  </nav>
</div>

