<app-spinner *ngIf="isLoading" [loading]="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="w-full md:w-full lg:w-full mx:w-full md:mx-24 p-24">
  <div class="bg-white p-10 flex flex-col w-full shadow-xl rounded-xl">
    <h2 class="text-2xl font-bold text-gray-800 text-left mb-2">
      Đăng nhập
    </h2>
    <form *ngIf="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          method="POST"
          class="w-full">
      <div class="flex flex-col w-full my-5">
        <label for="email" class="text-gray-500 mb-2">
          Tài khoản
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Nhập email"
          class="appearance-none border-2 border-gray-100 rounded-lg px-4 py-3
          placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg"
        />
      </div>
      <div class="flex flex-col w-full my-5">
        <label for="password" class="text-gray-500 mb-2">
          Mật khẩu
        </label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            placeholder="Nhập mật khẩu"
            class="w-full h-12 border-2 border-gray-100 rounded-lg px-4 py-3
            placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg"
          />
          <button type="button" class="absolute right-3 top-3 text-gray-400 hover:text-gray-600 focus:outline-none"
                  (click)="togglePasswordVisibility()">
            <span *ngIf="showPassword"><i nz-icon nzType="eye-invisible" nzTheme="outline"></i></span>
            <span *ngIf="!showPassword"><i nz-icon nzType="eye" nzTheme="outline"></i></span>
          </button>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me"
                 type="checkbox"
                 class="border border-gray-300 text-red-600 shadow-sm
                 focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50"/>
          <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
            Lưu đăng nhập
          </label>
        </div>
        <a href="auth/forgot-password" class="text-sm text-blue-500"> Quên mật khẩu? </a>
      </div>
      <div class="flex flex-col w-full my-5">
        <button
          type="submit"
          class="w-full py-4 bg-blue-500 rounded-lg text-white"
        >
          <div class="flex flex-row items-center justify-center">
            <div class="mr-2">
              <svg-icon [size]="24" name="icon-login"></svg-icon>
            </div>
            <div class="font-bold">Đăng nhập</div>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
