<div
  class="overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-xl hover:shadow-2xl movie-item text-white movie-card"
  [attr.data-movie-id]="movie.id">
  <div
    class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"></div>
  <div class="relative cursor-pointer group z-10 px-4 pt-4 mb-[40px] space-y-4 movie_info" data-lity="">
    <div class="poster__info align-self-end w-full">
      <div class="space-y-4 detail_info">
        <div class="flex flex-col space-y-2 inner">
          <a
            class="relative flex items-center w-min mb-[20px] flex-shrink-0 p-1 text-center text-white bg-red-500 rounded-full group-hover:bg-red-700"
            target="_blank"
            [href]="movie.trailerUrl"
          >
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-8 h-8"
                 viewBox="0 0 20 20"
                 fill="currentColor">
              <path fill-rule="evenodd"
                    d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9.555 7.168A1 1 0 0 0 8 8v4a1 1 0 0 0 1.555.832l3-2a1 1 0 0 0 0-1.664l-3-2z"
                    clip-rule="evenodd"></path>
            </svg>
            <div
              class="absolute transition opacity-0 duration-500 ease-in-out transform group-hover:opacity-100 group-hover:translate-x-16 text-lg font-bold text-white group-hover:pr-2">
              Trailer
            </div>
          </a>
          <h3 class="text-lg font-bold text-white">{{ movie.movieName }}</h3>
        </div>
        <div class="flex flex-row justify-between datos">
          <div class="flex flex-col datos_col">
            <div class="text-xs text-gray-400">Thịnh hành:</div>
            <div class="popularity">{{ movie.yearOfManufacture }}</div>
          </div>
          <div class="flex flex-col datos_col">
            <div class="text-xs text-gray-400">Công chiếu:</div>
            <div class="release">{{ movie.releaseDate | date: 'dd/MM/yyyy' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="absolute inset-0 transform w-full -translate-y-4"
       [src]="movie.imageNameUrl" style="filter: grayscale(0);" alt=""/>
  <div class="poster__footer flex flex-row relative pb-3 space-x-4 z-10">
    <a
      class="flex items-center py-2 px-4 rounded-full mx-auto text-white bg-red-500 hover:bg-red-700"
      [href]="'http://www.google.com/calendar/event?action=TEMPLATE&amp;dates=' + getCurrentDateTime() + '/' + getCurrentDateTime() + '&amp;text=' + movie.movieName + '%20%2D%20Movie%20Premiere&amp;location=http%3A%2F%2Fmoviedates.info&amp;details=This%20reminder%20was%20created%20through%20http%3A%2F%2Fmoviedates.info'"
      target="_blank"
    >
      <div class="text-xs text-white ml-2">Đặt lịch hẹn</div>
    </a>
  </div>
  <div class="poster__footer flex flex-row relative pb-4 space-x-4 z-10">
    <button
      class="flex items-center py-2 px-4 rounded-full mx-auto font-bold text-white bg-blue-400 hover:bg-green-500"
      (click)="showModal()"
    >
      <div class="text-xs text-white ml-2">Đặt vé</div>
    </button>
  </div>
</div>


<app-confirm-modal
  (cancel)="onCancelModal()"
  (confirm)="onConfirm()"
  [(isVisible)]="isVisibleMiddle"
  [iconName]="'icon-warning'"
  [isDanger]="false"
  [movieId]="movie.id"
  [movieName]="movie.movieName"
  class="rounded-2xl"
>
</app-confirm-modal>
