<!-- component -->
<!-- This is an example component -->


<div class="min-h-screen text-white bg-gradient-to-br from-green-50 to-cyan-100">
  <div class="mt-[90px]">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="h-full p-5">

    <div class="block md:flex">

      <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 shadow-xl">
        <div class="flex justify-between">
          <span class="text-xl font-semibold text-black block">Profile</span>
        </div>

        <span class="text-gray-600">Một chú ảnh xinh xẻooooo!</span>
        <div class="flex-col items-center justify-center grid grid-cols-3 gap-5">
          <img
            nz-image
            nzSrc="{{imageUrl}}"
            alt=""
            class="round-crop mr-3"
          />
          <nz-upload nzListType="picture-card"
                     [nzAction]="uploadUrl"
                     nzAccept=".jpg,.png,.jpeg"
                     [nzFileList]="fileList"
                     [nzShowUploadList]="{ showPreviewIcon: false, showDownloadIcon: false, showRemoveIcon: true }"
                     (nzChange)="handleChange($event)" class="w-full">
            <button nz-button class="w-full h-full flex flex-col rounded items-center justify-center"
                    (click)="$event.preventDefault()">
              <i nz-icon nzType="upload" class="text-sm"></i>
            </button>
          </nz-upload>
          <button nz-button nzType="primary" class="" (click)="uploadFiles(); $event.preventDefault()"
                  [disabled]="fileList.length === 0">Cập nhật
          </button>
        </div>
      </div>

      <div class="w-full md:w-3/5 p-8 lg:ml-4 shadow-xl">
        <div class="rounded  shadow p-6">
          <div class="pb-6">
            <label class="font-semibold text-gray-700 block pb-1">Tên người dùng</label>
            <div class="flex">
              <span class="text-gray-600 pt-4 block opacity-70">{{userData.fullName}}</span>
            </div>
          </div>
          <div class="pb-4">
            <label class="font-semibold text-gray-700 block pb-1">Email</label>
            <span class="text-gray-600 pt-4 block opacity-70">{{userData.email}}</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

