<div class="min-h-screen text-white bg-gradient-to-br from-green-50 to-cyan-100">
  <div class="mt-[90px]">
    <app-nav-bar></app-nav-bar>
  </div>
  <section class="py-1 bg-blueGray-50">
    <div class="w-full xl:w-full px-4 mx-auto mt-5">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white ">
        <div class="block w-full overflow-x-auto p-4">
          <nz-table #basicTable [nzData]="tickets" [nzBordered]="true" nzTitle="Danh sách vé đã mua" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
            <tr>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Phim</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Rạp</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Ngày mua</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Giá vé</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Số ghế</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Số phòng</th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of basicTable.data">
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.movieName }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.cinemaName }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.dateOrder | date:'dd/MM/yyyy' }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.price | currency:'VND' }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.seatNumber }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.hallNumber }}</td>
              <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ ticket.status }}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </section>
</div>
