<div class="min-h-screen text-white bg-gradient-to-br from-green-50 to-cyan-100">
  <div class="mt-[90px]">
    <app-nav-bar></app-nav-bar>
  </div>
  <!-- component -->
  <section class="text-indigo-200 body-font p-5">
    <div class="mx-auto flex px-5  md:flex-row flex-col items-center jobcard">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center">
        <figure class="visible">
          <div class="">
            <div class="pt-10 px-2 sm:px-6">
              <h1 class="title-font sm:text-4xl text-3xl mb-4 font-bold text-black">Đặt mua vé xem phim
              </h1>
              <p class="text-black font-bold text-base pb-6">Mua vé Online, trải nghiệm phim hay.</p>
              <p class="text-black text-base font-bold pb-6">Đặt vé an toàn.</p>
              <p class="text-black text-base font-bold pb-6">Tha hồ chọn chỗ ngồi, mua bắp nước tiện lợi.</p>
            </div>
          </div>
        </figure>

      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 sm:block hidden">
        <img class="object-cover object-center rounded" alt="hero" src="https://cdn.vox-cdn.com/thumbor/Q02WxhVlM34inuH9LP3EpM9x7Vo=/0x0:2238x1350/1200x675/filters:focal(940x496:1298x854)/cdn.vox-cdn.com/uploads/chorus_image/image/68494837/Screen_Shot_2019_11_12_at_7.27.13_AM.0.png" />
      </div>
    </div>
  </section>

  <!-- Movie List by Genre -->
  <div *ngFor="let genre of movieByGenre" class="max-w-6xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4 text-center">{{ genre.name }}</h2>
    <div class="flex overflow-x-auto space-x-4 p-4">
      <div class="flex-none w-64" *ngFor="let movie of genre.movies">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>

  <!-- component -->
  <div class="py-16">
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">Lợi ích dối với khách hàng</h2>
        <p class="lg:w-6/12 lg:mx-auto">Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia aliquid explicabo? Excepturi, voluptate?</p>
      </div>

      <div class="grid gap-12 lg:grid-cols-2">
        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://hasproearplugs.com/wp-content/uploads/2021/07/people-s-emotions-cinema1-1024x683.jpg" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Nay buổi xem phim chiếu rạp của bạn sẽ càng tuyệt vời hơn...</h4>
                <p class="text-gray-600">Việc đặt vé xem phim chưa bao giờ đơn giản và dễ dàng như thế, chỉ với vài thao tác trên màn hình điện thoại bạn đã có thể đặt vé xem bộ phim mình yêu thích mà không phải xếp hàng tại rạp.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://assets.barco.com/transform/cae28ba5-3c2f-4b0c-95bc-20f07fc1adcc/DC-wow-experience-MR" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Đặt vé xem phim online chưa bao giờ dễ dàng và chuyên nghiệp như thế</h4>
                <p class="text-gray-600">Hy vọng rằng những trải nghiệm đặt vé xem phim, tra cứu lịch chiếu phim nhanh, tiện lợi với mức giá tốt sẽ là món ăn tinh thần tuyệt vời dành cho người dùng</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
