<svg class="hidden" height="0" width="0" xmlns="http://www.w3.org/2000/svg">
  <symbol id="index-finger">
    <svg fill="none" height="16" viewBox="0 0 12 16" width="16" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1297_997)">
        <path
          d="M1 1C1 0.446875 1.44687 0 2 0C2.55312 0 3 0.446875 3 1V7.5H1V1ZM7 6C7 5.44688 7.44688 5 8 5C8.55313 5 9 5.44688 9 6V8C9 8.55313 8.55313 9 8 9C7.44688 9 7 8.55313 7 8V6ZM5 4C5.55312 4 6 4.44688 6 5V6.5C6 7.05312 5.55312 7.5 5 7.5C4.44688 7.5 4 7.05312 4 6.5V5C4 4.44688 4.44688 4 5 4ZM10 7C10 6.44688 10.4469 6 11 6C11.5531 6 12 6.44688 12 7V9C12 9.55313 11.5531 10 11 10C10.4469 10 10 9.55313 10 9V7ZM7 9.75V9.73125C7.29375 9.9 7.63438 10 8 10C8.4125 10 8.79375 9.875 9.1125 9.6625C9.38438 10.4406 10.1281 11 11 11C11.3656 11 11.7063 10.9031 12 10.7312V11C12 13.7625 9.7625 16 7 16H5.07188C3.74688 16 2.475 15.4719 1.5375 14.5344L1.17188 14.1719C0.421875 13.4219 0 12.4031 0 11.3438V10.5C0 9.39688 0.896875 8.5 2 8.5H4.75C5.44063 8.5 6 9.05937 6 9.75C6 10.4406 5.44063 11 4.75 11H3C2.725 11 2.5 11.225 2.5 11.5C2.5 11.775 2.725 12 3 12H4.75C5.99375 12 7 10.9937 7 9.75Z"
          fill="#000000"/>
      </g>
      <defs>
        <clipPath id="clip0_1297_997">
          <rect fill="white" height="16" width="12"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
  <symbol id="index-finger-blue">
    <svg fill="none" height="16" viewBox="0 0 12 16" width="16" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1297_997)">
        <path
          d="M1 1C1 0.446875 1.44687 0 2 0C2.55312 0 3 0.446875 3 1V7.5H1V1ZM7 6C7 5.44688 7.44688 5 8 5C8.55313 5 9 5.44688 9 6V8C9 8.55313 8.55313 9 8 9C7.44688 9 7 8.55313 7 8V6ZM5 4C5.55312 4 6 4.44688 6 5V6.5C6 7.05312 5.55312 7.5 5 7.5C4.44688 7.5 4 7.05312 4 6.5V5C4 4.44688 4.44688 4 5 4ZM10 7C10 6.44688 10.4469 6 11 6C11.5531 6 12 6.44688 12 7V9C12 9.55313 11.5531 10 11 10C10.4469 10 10 9.55313 10 9V7ZM7 9.75V9.73125C7.29375 9.9 7.63438 10 8 10C8.4125 10 8.79375 9.875 9.1125 9.6625C9.38438 10.4406 10.1281 11 11 11C11.3656 11 11.7063 10.9031 12 10.7312V11C12 13.7625 9.7625 16 7 16H5.07188C3.74688 16 2.475 15.4719 1.5375 14.5344L1.17188 14.1719C0.421875 13.4219 0 12.4031 0 11.3438V10.5C0 9.39688 0.896875 8.5 2 8.5H4.75C5.44063 8.5 6 9.05937 6 9.75C6 10.4406 5.44063 11 4.75 11H3C2.725 11 2.5 11.225 2.5 11.5C2.5 11.775 2.725 12 3 12H4.75C5.99375 12 7 10.9937 7 9.75Z"
          fill="#2F80ED"/>
      </g>
      <defs>
        <clipPath id="clip0_1297_997">
          <rect fill="white" height="16" width="12"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
  <symbol id="global">
    <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1297_991)">
        <path
          d="M11 8C11 8.69375 10.9625 9.3625 10.8969 10H5.10313C5.03438 9.3625 5 8.69375 5 8C5 7.30625 5.0375 6.6375 5.10313 6H10.8969C10.9656 6.6375 11 7.30625 11 8ZM11.9 6H15.7469C15.9125 6.64062 16 7.30937 16 8C16 8.69063 15.9125 9.35938 15.7469 10H11.9C11.9656 9.35625 12 8.6875 12 8C12 7.3125 11.9656 6.64375 11.9 6ZM15.4187 5H11.7719C11.4594 3.00312 10.8406 1.33125 10.0437 0.2625C12.4906 0.909375 14.4812 2.68438 15.4156 5H15.4187ZM10.7594 5H5.24062C5.43125 3.8625 5.725 2.85625 6.08437 2.04063C6.4125 1.30313 6.77812 0.76875 7.13125 0.43125C7.48125 0.1 7.77187 0 8 0C8.22812 0 8.51875 0.1 8.86875 0.43125C9.22187 0.76875 9.5875 1.30313 9.91562 2.04063C10.2781 2.85313 10.5687 3.85938 10.7594 5ZM4.22813 5H0.58125C1.51875 2.68438 3.50625 0.909375 5.95625 0.2625C5.15938 1.33125 4.54063 3.00312 4.22813 5ZM0.253125 6H4.1C4.03437 6.64375 4 7.3125 4 8C4 8.6875 4.03437 9.35625 4.1 10H0.253125C0.0875 9.35938 0 8.69063 0 8C0 7.30937 0.0875 6.64062 0.253125 6ZM6.08437 13.9563C5.72187 13.1438 5.43125 12.1375 5.24062 11H10.7594C10.5687 12.1375 10.275 13.1438 9.91562 13.9563C9.5875 14.6938 9.22187 15.2281 8.86875 15.5656C8.51875 15.9 8.22812 16 8 16C7.77187 16 7.48125 15.9 7.13125 15.5688C6.77812 15.2313 6.4125 14.6969 6.08437 13.9594V13.9563ZM4.22813 11C4.54063 12.9969 5.15938 14.6687 5.95625 15.7375C3.50625 15.0906 1.51875 13.3156 0.58125 11H4.22813ZM15.4187 11C14.4812 13.3156 12.4937 15.0906 10.0469 15.7375C10.8438 14.6687 11.4594 12.9969 11.775 11H15.4187Z"
          fill="black"/>
      </g>
      <defs>
        <clipPath id="clip0_1297_991">
          <rect fill="white" height="16" width="16"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
  <symbol id="global-blue">
    <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1297_991)">
        <path
          d="M11 8C11 8.69375 10.9625 9.3625 10.8969 10H5.10313C5.03438 9.3625 5 8.69375 5 8C5 7.30625 5.0375 6.6375 5.10313 6H10.8969C10.9656 6.6375 11 7.30625 11 8ZM11.9 6H15.7469C15.9125 6.64062 16 7.30937 16 8C16 8.69063 15.9125 9.35938 15.7469 10H11.9C11.9656 9.35625 12 8.6875 12 8C12 7.3125 11.9656 6.64375 11.9 6ZM15.4187 5H11.7719C11.4594 3.00312 10.8406 1.33125 10.0437 0.2625C12.4906 0.909375 14.4812 2.68438 15.4156 5H15.4187ZM10.7594 5H5.24062C5.43125 3.8625 5.725 2.85625 6.08437 2.04063C6.4125 1.30313 6.77812 0.76875 7.13125 0.43125C7.48125 0.1 7.77187 0 8 0C8.22812 0 8.51875 0.1 8.86875 0.43125C9.22187 0.76875 9.5875 1.30313 9.91562 2.04063C10.2781 2.85313 10.5687 3.85938 10.7594 5ZM4.22813 5H0.58125C1.51875 2.68438 3.50625 0.909375 5.95625 0.2625C5.15938 1.33125 4.54063 3.00312 4.22813 5ZM0.253125 6H4.1C4.03437 6.64375 4 7.3125 4 8C4 8.6875 4.03437 9.35625 4.1 10H0.253125C0.0875 9.35938 0 8.69063 0 8C0 7.30937 0.0875 6.64062 0.253125 6ZM6.08437 13.9563C5.72187 13.1438 5.43125 12.1375 5.24062 11H10.7594C10.5687 12.1375 10.275 13.1438 9.91562 13.9563C9.5875 14.6938 9.22187 15.2281 8.86875 15.5656C8.51875 15.9 8.22812 16 8 16C7.77187 16 7.48125 15.9 7.13125 15.5688C6.77812 15.2313 6.4125 14.6969 6.08437 13.9594V13.9563ZM4.22813 11C4.54063 12.9969 5.15938 14.6687 5.95625 15.7375C3.50625 15.0906 1.51875 13.3156 0.58125 11H4.22813ZM15.4187 11C14.4812 13.3156 12.4937 15.0906 10.0469 15.7375C10.8438 14.6687 11.4594 12.9969 11.775 11H15.4187Z"
          fill="#2F80ED"/>
      </g>
      <defs>
        <clipPath id="clip0_1297_991">
          <rect fill="white" height="16" width="16"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
  <symbol id="light-bulb">
    <svg fill="none" height="37" viewBox="0 0 36 37" width="36" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_1196_375)">
        <path
          d="M24.5646 15.6122C24.2096 18.5685 22.2733 19.7497 21.4371 20.6072C20.5996 21.4672 20.7496 21.6385 20.8058 22.8997C20.8152 23.0558 20.7926 23.2121 20.7392 23.359C20.6859 23.506 20.6031 23.6405 20.4958 23.7542C20.3885 23.8679 20.2591 23.9584 20.1155 24.0202C19.9719 24.082 19.8172 24.1137 19.6608 24.1135H16.3383C16.182 24.1135 16.0273 24.0817 15.8837 24.0199C15.7402 23.958 15.6107 23.8675 15.5034 23.7538C15.3961 23.6402 15.3131 23.5058 15.2595 23.3589C15.206 23.212 15.1831 23.0558 15.1921 22.8997C15.1921 21.6622 15.3071 21.3747 14.5621 20.6072C13.6121 19.6572 11.3771 18.316 11.3771 14.6272C11.3714 13.711 11.5555 12.8035 11.918 11.9619C12.2804 11.1204 12.8132 10.363 13.4829 9.73765C14.1525 9.11225 14.9445 8.63237 15.8088 8.32824C16.6731 8.02411 17.5911 7.90233 18.5048 7.97058C19.4185 8.03882 20.3082 8.29562 21.1178 8.72477C21.9273 9.15393 22.6392 9.74614 23.2085 10.4641C23.7778 11.182 24.1922 12.0101 24.4256 12.8961C24.659 13.7822 24.7063 14.707 24.5646 15.6122Z"
          stroke="#001F4C" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.125"/>
        <path
          d="M16.0742 24.0449V25.9349C16.0742 26.4512 16.3617 26.8749 16.7155 26.8749H19.2817C19.638 26.8749 19.9242 26.4499 19.9242 25.9349V24.0449M17.0242 10.8699C16.2861 10.8703 15.5784 11.1637 15.0566 11.6857C14.5348 12.2077 14.2417 12.9156 14.2417 13.6537M27.1642 14.8799H29.4567M24.8567 7.36494L26.483 5.73869M26.1067 21.2499L27.733 22.8749M17.9992 2.97119V4.82494M9.54922 5.73744L11.1642 7.36494M8.29922 22.8749L9.91422 21.2499M8.83422 14.8799H6.54297"
          stroke="#001F4C" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.125"/>
      </g>
      <defs>
        <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="38" id="filter0_d_1196_375"
                width="38" x="-1"
                y="0">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                         values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend in2="BackgroundImageFix" mode="normal" result="effect1_dropShadow_1196_375"/>
          <feBlend in="SourceGraphic" in2="effect1_dropShadow_1196_375" mode="normal" result="shape"/>
        </filter>
      </defs>
    </svg>
  </symbol>
  <symbol id="error-input-icon">
    <svg
      fill="none"
      height="18"
      viewBox="0 0 18 18"
      width="18"
      xmlns="http://www.w3.org/2000/svg">
      <rect fill="white" fill-opacity="0.01" height="18" width="18"/>
      <path
        clip-rule="evenodd"
        d="M9.98245 4.00728L15.5017 13.8848C15.5653 13.9989 15.5981 14.1277 15.5966 14.2584C15.5951 14.389 15.5596 14.5171 15.4934 14.6297C15.4273 14.7424 15.3328 14.8359 15.2194 14.9008C15.106 14.9658 14.9776 15 14.8469 15H3.15295C3.02216 15.0001 2.89365 14.9659 2.78015 14.9009C2.66666 14.8359 2.57213 14.7424 2.50595 14.6296C2.43976 14.5168 2.40423 14.3886 2.40287 14.2578C2.40151 14.1271 2.43438 13.9982 2.4982 13.884L8.0182 4.00728C8.11588 3.83271 8.25835 3.68735 8.43091 3.58616C8.60348 3.48498 8.79991 3.43164 8.99995 3.43164C9.19999 3.43164 9.39642 3.48498 9.56898 3.58616C9.74155 3.68735 9.88401 3.83271 9.9817 4.00728H9.98245ZM8.99995 6.37503C8.88311 6.37503 8.76763 6.40004 8.66127 6.44839C8.55491 6.49674 8.46013 6.56731 8.38332 6.65534C8.30651 6.74338 8.24944 6.84685 8.21596 6.95878C8.18247 7.07072 8.17335 7.18853 8.1892 7.30428L8.57395 10.1288C8.58768 10.232 8.63845 10.3268 8.71681 10.3954C8.79517 10.4641 8.89578 10.5019 8.99995 10.5019C9.10411 10.5019 9.20473 10.4641 9.28309 10.3954C9.36145 10.3268 9.41222 10.232 9.42595 10.1288L9.8107 7.30428C9.82655 7.18853 9.81742 7.07072 9.78394 6.95878C9.75046 6.84685 9.69339 6.74338 9.61658 6.65534C9.53977 6.56731 9.44499 6.49674 9.33863 6.44839C9.23227 6.40004 9.11679 6.37503 8.99995 6.37503ZM8.99995 12.8475C9.22373 12.8475 9.43834 12.7586 9.59657 12.6004C9.7548 12.4422 9.8437 12.2276 9.8437 12.0038C9.8437 11.78 9.7548 11.5654 9.59657 11.4072C9.43834 11.2489 9.22373 11.16 8.99995 11.16C8.77617 11.16 8.56156 11.2489 8.40333 11.4072C8.24509 11.5654 8.1562 11.78 8.1562 12.0038C8.1562 12.2276 8.24509 12.4422 8.40333 12.6004C8.56156 12.7586 8.77617 12.8475 8.99995 12.8475Z"
        fill="#EB5757"
        fill-rule="evenodd"/>
    </svg>
  </symbol>
  <symbol id="warning">
    <svg fill="none" height="19" viewBox="0 0 21 19" width="21"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M20.5179 18.1149L11.0587 0.544567C11.028 0.487404 10.9823 0.439639 10.9266 0.406344C10.8708 0.37305 10.8071 0.355469 10.7422 0.355469C10.6773 0.355469 10.6136 0.37305 10.5579 0.406344C10.5022 0.439639 10.4565 0.487404 10.4258 0.544567L0.964763 18.1149C0.935302 18.1696 0.920557 18.2311 0.921968 18.2933C0.923378 18.3554 0.940897 18.4162 0.972812 18.4695C1.00473 18.5229 1.04994 18.5671 1.10404 18.5978C1.15814 18.6284 1.21928 18.6445 1.28146 18.6445H20.2035C20.2654 18.6441 20.3263 18.6278 20.3801 18.5969C20.4339 18.5661 20.4788 18.5219 20.5104 18.4686C20.5421 18.4153 20.5594 18.3547 20.5607 18.2927C20.562 18.2307 20.5473 18.1695 20.5179 18.1149ZM11.6404 16.4846H9.84357V14.6878H11.6404V16.4846ZM11.4608 13.6132H10.0233L9.75373 6.42574H11.7303L11.4608 13.6132Z"
        fill="#FFB548"/>
    </svg>
  </symbol>
  <symbol id="world-wide-web">
    <svg fill="none" height="33" viewBox="0 0 35 33" width="35"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.55273 23.8578C5.87138 26.11 7.76865 27.9801 10.0536 29.2801C12.3386 30.58 14.9307 31.2639 17.569 31.2628C20.2074 31.2639 22.7995 30.58 25.0845 29.2801C27.3694 27.9801 29.2667 26.11 30.5854 23.8578M4.55273 9.04764C5.87138 6.79543 7.76865 4.92526 10.0536 3.62532C12.3386 2.32538 14.9307 1.64152 17.569 1.64258C20.2074 1.64152 22.7995 2.32538 25.0845 3.62532C27.3694 4.92526 29.2667 6.79543 30.5854 9.04764"
        stroke="#008000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
      <path
        d="M19.0714 31.1889C19.0714 31.1889 21.1871 28.4446 22.52 23.8579M19.0714 1.7168C19.0714 1.7168 21.1871 4.45963 22.52 9.04781M16.066 31.1889C16.066 31.1889 13.9502 28.4461 12.6173 23.8579M16.066 1.7168C16.066 1.7168 13.9502 4.45963 12.6173 9.04781M13.0606 13.4908L15.3146 20.8959L17.5687 13.4908L19.8227 20.8959L22.0767 13.4908M1.03906 13.4908L3.2931 20.8959L5.54714 13.4908L7.80117 20.8959L10.0552 13.4908M25.0821 13.4908L27.3362 20.8959L29.5902 13.4908L31.8442 20.8959L34.0983 13.4908"
        stroke="#008000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
    </svg>
  </symbol>
  <symbol id="copy-blue">
    <svg fill="none" height="10" viewBox="0 0 14 16" width="10" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.5 0H10.3781C10.775 0 11.1562 0.159375 11.4375 0.440625L13.5594 2.5625C13.8406 2.84375 14 3.225 14 3.62188V10.5C14 11.3281 13.3281 12 12.5 12H6.5C5.67188 12 5 11.3281 5 10.5V1.5C5 0.671875 5.67188 0 6.5 0ZM1.5 4H4V6H2V14H8V13H10V14.5C10 15.3281 9.32812 16 8.5 16H1.5C0.671875 16 0 15.3281 0 14.5V5.5C0 4.67188 0.671875 4 1.5 4Z"
        fill="#2F80ED"/>
    </svg>
  </symbol>
  <symbol id="warning-red-circle">
    <svg fill="none" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.99935 0.666748C4.39685 0.666748 0.666016 4.39758 0.666016 9.00008C0.666016 13.6026 4.39685 17.3334 8.99935 17.3334C13.6018 17.3334 17.3327 13.6026 17.3327 9.00008C17.3327 4.39758 13.6018 0.666748 8.99935 0.666748ZM9.83268 13.1667H8.16602V11.5001H9.83268V13.1667ZM9.83268 9.83341H8.16602L7.74935 4.83341H10.2493L9.83268 9.83341Z"
        fill="#FF0000"/>
    </svg>
  </symbol>
  <symbol id="icon-select-option">
    <svg
      class="w-20 h-20 mx-auto md:float-left fill-stroke text-gray-800"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
    </svg>
  </symbol>
  <symbol id="icon-login">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
    </svg>
  </symbol>
  <symbol id="icon-back">
    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            fill-rule="evenodd"></path>
    </svg>
  </symbol>
  <symbol id="icon-cat-gif-flower">
    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2395 1800" width="400" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <style>.cls-1 {
          fill: #d6b49a;
        }

        .cls-1, .cls-10, .cls-11, .cls-13, .cls-14, .cls-15, .cls-17, .cls-2, .cls-4, .cls-5, .cls-6 {
          stroke: #000;
        }

        .cls-1, .cls-11, .cls-13, .cls-14, .cls-16, .cls-8 {
          stroke-linecap: round;
          stroke-linejoin: round;
        }

        .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
          stroke-width: 3px;
        }

        .cls-2 {
          fill: #020202;
        }

        .cls-10, .cls-12, .cls-15, .cls-17, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-9 {
          stroke-miterlimit: 10;
        }

        .cls-3 {
          fill: #818181;
        }

        .cls-12, .cls-16, .cls-3, .cls-7, .cls-8, .cls-9 {
          stroke: #191818;
        }

        .cls-4 {
          fill: #dcdbda;
        }

        .cls-5 {
          fill: #4ea7f1;
        }

        .cls-14, .cls-6 {
          fill: #f8f3ed;
        }

        .cls-16, .cls-7 {
          fill: #333;
        }

        .cls-13, .cls-8 {
          fill: none;
        }

        .cls-9 {
          fill: #f8f59c;
        }

        .cls-10, .cls-11 {
          fill: #f3d2c9;
        }

        .cls-15 {
          fill: #8bb174;
        }

        .cls-17 {
          fill: #da4e22;
        }</style>
      </defs>
      <title>Artboard 1 copy</title>
      <path class="cls-1"
            d="M1073.3,1016.93c-43.75-72.44-119.63-96.48-144.56-103.2h0a121.1,121.1,0,0,1-6-58.67c5.65-38.81,14.87-101.89,15.77-106.5L750,821.89,558.27,886.31c3.64,3,51.12,45.51,80.31,71.69a121.07,121.07,0,0,1,33,48.89h0c-14.84,21.13-57.72,88.19-44.92,171.84,12.09,79,67.16,129,103.83,162.39a396.42,396.42,0,0,0,88,60.44,121.54,121.54,0,0,0,98.43,19.6c5.76-1.34,16.84-4.18,27.22-7.38,4.58-1.42,10.4-3.23,17.06-5.57v0l1.1-.41,1.1-.39h0c6.61-2.47,12.24-4.8,16.67-6.65,10-4.19,20.35-9.11,25.63-11.77a121.54,121.54,0,0,0,63-78.09,396.28,396.28,0,0,0,28.85-102.77C1104.37,1159.06,1114.61,1085.35,1073.3,1016.93Z"/>
      <ellipse class="cls-2" cx="748.2" cy="816.89" rx="202.22" ry="30.98"
               transform="translate(-233.49 303.67) rotate(-19.91)"/>
      <path class="cls-3"
            d="M959,1447l-.09,82.82c0,6.19,6.66,11.22,14.88,11.23h.3c8.22,0,14.9-5,14.9-11.2l.09-81.9c0-.53-6.95-1-15.39-1H959"/>
      <path class="cls-3"
            d="M1749,1447l-.09,82.82c0,6.19,6.66,11.22,14.88,11.23h.3c8.22,0,14.9-5,14.9-11.2l.09-81.9c0-.53-7-1-15.39-1H1749"/>
      <path class="cls-4"
            d="M1825.5,1426.5H755.25a10.75,10.75,0,0,0-10.75,10.75h0A10.75,10.75,0,0,0,755.25,1448H1815a10.75,10.75,0,0,0,10.74-11l-.24-10.5"/>
      <path class="cls-5"
            d="M701.74,867.5S663.12,1015,669.56,1076.79c3.84,36.88,2.64,98,1,141.4a52.4,52.4,0,0,1-104.76-1.3c-.27-22-2.78-38.74-.5-51.2,13.67-74.81-7.27-76,5.08-144.26q3.17-11.08,6.56-22.29c11.82-39,24.77-75.25,38.5-110.61,14.74-1.39,31.2-5.77,48.93-9.73C678,875.76,690.47,871.22,701.74,867.5Z"/>
      <path class="cls-5"
            d="M719.77,1182.37c-8.92,0-15.45-12.93-18-18-17.59-34.83,9-95.59,19.32-117.16,9.86,22.2,34.32,82.46,16.74,117.16C735.17,1169.52,728.66,1182.37,719.77,1182.37Z"/>
      <path class="cls-6"
            d="M1915.78,1027c-110.75-95.83-248-74.53-267.79-71.13-190.52,30.41-344.62,100-368.21,188.29a549.59,549.59,0,0,0-11.7,55.33c-47.15-8-126.29-11.92-172.38,38.22l-.23.26c-13.09,14.32-3.91,37.46,15.39,39.47,11.56,1.2,25.45,2.36,41.11,3.12,32.51,1.58,102.09,52,145.66,85.51A156.16,156.16,0,0,0,1404.34,1419l.66,0c12.09,8.11,44,27.11,88.17,26.43a153,153,0,0,0,66.95-16.73l160.38-2.2c74.24,21.55,133.85,19.3,170.18,14.75,52.21-6.53,71.81-19.57,80.58-26.78,30.3-25,41.33-63.94,49.13-102.93C2036.41,1231.43,2010.61,1109.06,1915.78,1027Z"/>
      <path class="cls-6"
            d="M1267,1198c-9.38-27.55-23.66-79.78-24.88-129.15a393.76,393.76,0,0,1,12.55-108.79,334.61,334.61,0,0,1-32.62-173.74,17.07,17.07,0,0,1,26-13l132.1,82.11a320.21,320.21,0,0,1,150.63-4.18l119.81-98a13.73,13.73,0,0,1,22.29,8.61,456.39,456.39,0,0,1-16.57,202.39,188.88,188.88,0,0,1,7.14,87.26"/>
      <path class="cls-5"
            d="M583.29,1375.5H583s-8.5-.11-16.44-7.73c-6.25-6-.85-32.43,18-63.08,16.1,31.14,20.08,57.13,14.16,63.08C591.12,1375.46,583.29,1375.5,583.29,1375.5Z"/>
      <path class="cls-7"
            d="M2024.5,1260.5c14.81,6.82,38.24,20.41,54,46,36.42,59.15,9.28,145.76-41.37,191.33-36.76,33.08-79.09,38.28-112.39,42.57-19.52,2.51-110,13.78-172.14-42.57-12.57-11.4-42-38.11-37.66-71.13,2.25-17,13.79-39.69,33.47-46,37.71-12.14,60.28,50.17,131.09,57.83,10.2,1.1,53.88,4.58,88-23,5.59-4.52,14.81-13,26-32C2005,1364,2024.43,1323.52,2024.5,1260.5Z"/>
      <path class="cls-8" d="M1560.5,1428.5s69-32,85-94"/>
      <path class="cls-7"
            d="M1530.83,851.27l119.81-98a13.73,13.73,0,0,1,22.29,8.61c3.24,22.58,4.13,45.46,4.35,81S1665,911,1656.5,964.5a284.8,284.8,0,0,0-125.67-113.23Z"/>
      <path class="cls-8"
            d="M1408.5,1420.5c-1.77-1.54-8.83-8-9-17.67-.11-7.92,4.52-13.56,6-15.33,12.18-14.84,33.82-8.35,59-15,11.91-3.15,28.36-10.22,46-28"/>
      <ellipse class="cls-7" cx="1452.5" cy="998.5" rx="153" ry="117"/>
      <circle class="cls-9" cx="1355" cy="991" r="31.5"/>
      <path class="cls-10"
            d="M1672.5,762.5s-70,95-77,117c-5.24,16.45,18.62,8.3,31,3.14a2.87,2.87,0,0,1,3.69,3.88l-8.3,17.53a6.35,6.35,0,0,0,7.75,8.74l9.91-3.3a2.87,2.87,0,0,1,3.56,3.83l-3.59,17.18,17,34a457.51,457.51,0,0,0,16-202Z"/>
      <path class="cls-7"
            d="M1379.5,855.5c-43.86-27.19-89.35-56.1-133.21-83.29-9.07-5.62-23.66,1.62-23.79,12.29-.27,22.81-4,48.1,3,83,3.77,18.84,5.45,28.58,9.26,41.5a315.06,315.06,0,0,0,19.74,50.5,199,199,0,0,1,18-29c5.75-7.71,26.56-34.42,64-56A221.93,221.93,0,0,1,1379.5,855.5Z"/>
      <path class="cls-11"
            d="M1222.5,782.5s75.38,65.94,84.71,83.21c.55,1,2.89,5.62,1.16,7.71-3.3,4-17.41-6.08-23.87-.92a6.77,6.77,0,0,0-1.62,1.92,8,8,0,0,0,.75,8.68c2.16,2.87,5,7.47,4.73,11.84a6.33,6.33,0,0,1-1.15,3.63c-1.93,2.36-5.52,2.38-6.51,2.38-6.55,0-10.09-6.31-10.25-6.6a4.65,4.65,0,0,0-6,.13,3.51,3.51,0,0,0-.94,2,8.85,8.85,0,0,0,.82,5.06c2.17,4.39-.37,18.55-1.85,24.93a93.65,93.65,0,0,1-11,27c-9-19.66-21.15-51-27-89a326.82,326.82,0,0,1-3.49-62.74C1221.37,793.9,1222,787.3,1222.5,782.5Z"/>
      <circle class="cls-12" cx="1355" cy="991" r="22.5"/>
      <circle class="cls-9" cx="1557" cy="991" r="31.5"/>
      <circle class="cls-12" cx="1557" cy="991" r="22.5"/>
      <path class="cls-10"
            d="M1445.26,997.13l10.24,1.37,9.39-1.34a2.14,2.14,0,0,1,2.11,3.27l-9.09,14.28a3,3,0,0,1-4.94.08l-9.77-14.33A2.15,2.15,0,0,1,1445.26,997.13Z"/>
      <path class="cls-13" d="M1454.74,1016.08s2.76,17.42-17.24,15.42"/>
      <path class="cls-13" d="M1455.63,1017.08s-2.76,17.42,17.24,15.42"/>
      <path class="cls-14" d="M1664.5,1001.5,1735,980"/>
      <path class="cls-14" d="M1667,1017l66.5,10.5"/>
      <path class="cls-14" d="M1244,1017l-60.5,13.5"/>
      <path class="cls-14" d="M1246.5,1000.5,1180,990"/>
      <path class="cls-15"
            d="M497.79,404c44.57,20.37,95.3,66.11,155.71,124.48,92.79,89.66,150.8,234.43,169,289-5.77,2.68-30.23-42.68-36-40-19.27-52.74-57.27-138.85-139-223-66.8-68.78-125-119.67-172-142Z"/>
      <path class="cls-15"
            d="M745.55,850.16c-74.68-63-179.26-139.49-214.14-152.89-89.78-34.5-169.48-49.55-221.09-50.06q8.32-8.54,16.67-17.06c49-.22,119.61,13.39,199,41,31.84,11.09,153.72,90.48,241,170.65Z"/>
      <path class="cls-15"
            d="M823.54,819.3c-17.76-23.9-59.56-97.14-83.92-120.77a597.13,597.13,0,0,0-166.5-113.78l-22.31,8.44A635.18,635.18,0,0,1,733.58,724.52c17.7,18.29,54.44,85.77,68.42,104Z"/>
      <path class="cls-7"
            d="M1479.5,1367.5l34,76a192.85,192.85,0,0,1-51-1s-29.19-3.39-48.59-18c-13.48-10.12-14.12-17.25-14.29-19.38-.78-9.74,5.64-16.63,8.13-19l.75-.68c9-7.86,25-8.93,26-9C1444.74,1375.81,1458.89,1373.16,1479.5,1367.5Z"/>
      <path class="cls-16"
            d="M1173.28,1285.23l30.22-89.73a156.61,156.61,0,0,0-60,11,149.83,149.83,0,0,0-38,23c-1,.85-15,12.88-15.5,24.47,0,.63,0,1.22,0,1.26.23,9.77,7.33,16,10.06,18l.82.6c8.37,5.92,18.58,5.26,33.63,5.63,8.49.21,12.73.32,18,1A113.17,113.17,0,0,1,1173.28,1285.23Z"/>
      <path class="cls-17"
            d="M292.3,344.49l-28.05-15.3a40.34,40.34,0,0,1-20.8-39.64l2.35-22.21a61.8,61.8,0,0,1,26.57-44.52h0a29.52,29.52,0,0,1,29.48-2.22,82.16,82.16,0,0,0,8.28,3.32,234.66,234.66,0,0,1,86.78,54.37l-43.47,78.83Z"/>
      <path class="cls-17"
            d="M318.73,318l-.69.05a40.94,40.94,0,0,0-37,32l-2.68,12.12a53.57,53.57,0,0,0,33.25,61.63L394.1,455.2,406.8,365l-57-38.69A48.91,48.91,0,0,0,318.73,318Z"/>
      <path class="cls-17"
            d="M465,262.82l-32.13-42.59A53.66,53.66,0,0,0,379,200l-10.53,2.21A31.57,31.57,0,0,0,348.89,251l27,38.3,84.61,30.61Z"/>
      <circle class="cls-9" cx="395.47" cy="335.18" r="65.13"/>
      <path class="cls-17"
            d="M410.35,262.8l-3.18,24.43c-1.27,9.71,1.05,18.92,6.5,25.82l43.66,55.28,25.6,66.79a188.3,188.3,0,0,0,13.53-28.27s9.66-27.18,8.55-57.61c-2-56.48-41.85-101.41-48.51-108.74a21.18,21.18,0,0,0-11-7c-8.32-2-15.23,2.41-18.82,4.69C414.7,245.8,411.24,258.85,410.35,262.8Z"/>
      <path class="cls-17"
            d="M393,455.33,343.6,432.5a42.53,42.53,0,0,1-21-55.8l10.27-23.18a56,56,0,0,1,70.16-30l59.18,21.35A54.61,54.61,0,0,1,497.69,404h0a72.53,72.53,0,0,1-17.51,34.08c-22.74,24.35-55.11,23-60.87,22.72A83.93,83.93,0,0,1,393,455.33Z"/>
      <path class="cls-17"
            d="M220.48,538.45l-4.1-14.15a39.86,39.86,0,0,1,20.26-46.64h0a44.74,44.74,0,0,1,46.87,4c12.59,4.22,69.55,24.82,98.81,84.49a161.75,161.75,0,0,1,16.25,66.83A8.26,8.26,0,0,1,386,640.17Z"/>
      <path class="cls-17"
            d="M173.88,677.25,191,690a87.06,87.06,0,0,0,16.42,9.6,175.79,175.79,0,0,0,21.43,7.83c15.81,4.64,54.81,16.06,98.18.1,33.26-12.24,53.93-35,64.71-49.86a7,7,0,0,0-4.9-11.16L198.54,625.16a32.86,32.86,0,0,0-33,17.77A27.41,27.41,0,0,0,173.88,677.25Z"/>
      <path class="cls-17"
            d="M160.14,576h0a63.93,63.93,0,0,0,32.92,42l57.42,29.55c3.85,1.51,9.48,3.61,16.37,5.82a265.52,265.52,0,0,0,45,10.4c27.27,3.24,57.36-5.36,74.44-11.41a13.29,13.29,0,0,0,8.07-17c-10.22-28.29-25.28-44.58-33.77-52.46-15.68-14.55-34.71-24.26-49.92-32a314.15,314.15,0,0,0-29.59-13.23l-48.9-13.51A63.9,63.9,0,0,0,184.09,530l-4.91,2.74A39.23,39.23,0,0,0,160.14,576Z"/>
      <path class="cls-17"
            d="M525.79,497.88a10.12,10.12,0,0,0-10.16,11.81c4,23.68,14.18,75.92,28.34,89.12,18.47,17.22,48.15,116.37,130.7,95.46,56.68-14.36,39.26-73.52,22.76-109.22a117,117,0,0,0-41.89-48.75A228.19,228.19,0,0,0,597,509,260,260,0,0,0,525.79,497.88Z"/>
      <path class="cls-15"
            d="M857.63,805C860.5,803.5,830.5,512.5,746.5,400.5s-104-130-104-130-2,85,34,145,78,160,90,182,56,223,56,223Z"/>
    </svg>
  </symbol>
  <symbol id="icon-info">
    <svg fill="none" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_181525_171718)">
        <path
          d="M11 0C4.92545 0 0 4.92545 0 11C0 17.0746 4.92545 22 11 22C17.0746 22 22 17.0746 22 11C22 4.92545 17.0746 0 11 0ZM11 20.1339C5.9567 20.1339 1.86607 16.0433 1.86607 11C1.86607 5.9567 5.9567 1.86607 11 1.86607C16.0433 1.86607 20.1339 5.9567 20.1339 11C20.1339 16.0433 16.0433 20.1339 11 20.1339Z"
          fill="#1890FF"/>
        <path
          d="M9.82129 15.3214C9.82129 15.634 9.94546 15.9338 10.1665 16.1548C10.3875 16.3758 10.6873 16.5 10.9999 16.5C11.3124 16.5 11.6122 16.3758 11.8332 16.1548C12.0543 15.9338 12.1784 15.634 12.1784 15.3214C12.1784 15.0089 12.0543 14.7091 11.8332 14.4881C11.6122 14.267 11.3124 14.1429 10.9999 14.1429C10.6873 14.1429 10.3875 14.267 10.1665 14.4881C9.94546 14.7091 9.82129 15.0089 9.82129 15.3214ZM10.4106 12.5714H11.5891C11.6972 12.5714 11.7856 12.483 11.7856 12.375V5.69643C11.7856 5.58839 11.6972 5.5 11.5891 5.5H10.4106C10.3025 5.5 10.2141 5.58839 10.2141 5.69643V12.375C10.2141 12.483 10.3025 12.5714 10.4106 12.5714Z"
          fill="#1890FF"/>
      </g>
      <defs>
        <clipPath id="clip0_181525_171718">
          <rect fill="white" height="22" width="22"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
  <symbol id="icon-warning">
    <svg fill="none" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_181525_171718)">
        <path
          d="M11 0C4.92545 0 0 4.92545 0 11C0 17.0746 4.92545 22 11 22C17.0746 22 22 17.0746 22 11C22 4.92545 17.0746 0 11 0ZM11 20.1339C5.9567 20.1339 1.86607 16.0433 1.86607 11C1.86607 5.9567 5.9567 1.86607 11 1.86607C16.0433 1.86607 20.1339 5.9567 20.1339 11C20.1339 16.0433 16.0433 20.1339 11 20.1339Z"
          fill="#FFC107"/>
        <path
          d="M9.82129 15.3214C9.82129 15.634 9.94546 15.9338 10.1665 16.1548C10.3875 16.3758 10.6873 16.5 10.9999 16.5C11.3124 16.5 11.6122 16.3758 11.8332 16.1548C12.0543 15.9338 12.1784 15.634 12.1784 15.3214C12.1784 15.0089 12.0543 14.7091 11.8332 14.4881C11.6122 14.267 11.3124 14.1429 10.9999 14.1429C10.6873 14.1429 10.3875 14.267 10.1665 14.4881C9.94546 14.7091 9.82129 15.0089 9.82129 15.3214ZM10.4106 12.5714H11.5891C11.6972 12.5714 11.7856 12.483 11.7856 12.375V5.69643C11.7856 5.58839 11.6972 5.5 11.5891 5.5H10.4106C10.3025 5.5 10.2141 5.58839 10.2141 5.69643V12.375C10.2141 12.483 10.3025 12.5714 10.4106 12.5714Z"
          fill="#FFC107"/>
      </g>
      <defs>
        <clipPath id="clip0_181525_171718">
          <rect fill="white" height="22" width="22"/>
        </clipPath>
      </defs>
    </svg>
  </symbol>
</svg>
