﻿<nz-modal
  (nzOnCancel)="onCancel()"
  (nzOnOk)="onConfirm()"
  [(nzVisible)]="isVisible"
  nzCentered
  [nzWidth]="'900px'"
>
  <ng-container *nzModalContent>
    <div class="p-4 max-w-auto mx-auto bg-white rounded-2xl shadow-md space-y-4">
      <h2 class="text-2xl font-bold mb-4">Đặt vé xem phim</h2>

      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <!-- Cinema Selector -->
        <div class="mb-4">
          <label class="block text-sm font-bold mt-5 mb-3 text-gray-700">Chọn rạp</label>
          <nz-select formControlName="cinema" class="w-full" [nzSize]="'large'" [nzPlaceHolder]="'Select Cinema'">
            <nz-option *ngFor="let cinema of cinemas" [nzValue]="cinema.id" [nzLabel]="cinema.cinemaName"></nz-option>
          </nz-select>
        </div>

        <!-- Seat Selector -->
        <div class="mb-4">
          <label class="block text-sm font-bold mt-5 mb-3 text-gray-700">Chọn ghế</label>
          <div class="grid grid-cols-10 gap-2">
            <div *ngFor="let seat of seats">
              <label class="flex items-center">
                <input type="checkbox" [formControl]="seatControl(seat.id)" class="mr-2"/>
                Seat {{ seat.number }}
              </label>
            </div>
          </div>
          <div class="payment-methods mt-3">
            <h2 class="text-lg font-bold mb-4">Chọn phương thức thanh toán</h2>

            <button
              (click)="selectPaymentMethod('VNMART')"
              [ngClass]="{'selected': selectedPaymentMethod === 'VNMART'}"
              class="payment-button">QR Code VNPAY
            </button>

            <button
              (click)="selectPaymentMethod('VNBANK')"
              [ngClass]="{'selected': selectedPaymentMethod === 'VNBANK'}"
              class="payment-button">Ngân hàng VNPAY
            </button>

            <button
              (click)="selectPaymentMethod('INTCARD')"
              [ngClass]="{'selected': selectedPaymentMethod === 'INTCARD'}"
              class="payment-button">Thẻ quốc tế
            </button>

            <div *ngIf="selectedPaymentMethod">
              <p class="mt-4">Phương thức thanh toán đã chọn: {{ selectedPaymentMethod }}</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <button (click)="onCancel()" nz-button nzType="default">Huỷ bỏ</button>
    <button (click)="onConfirm()" nz-button nzType="primary">Xác nhận</button>
  </ng-container>
</nz-modal>
