.payment-methods {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.payment-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.payment-button:hover {
  background-color: #0056b3;
}

.payment-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Highlight when focused */
}

.selected {
  border: 2px solid #0056b3; /* Border color for selected button */
  background-color: #0056b3; /* Background color for selected button */
  color: white; /* Text color for selected button */
}
